
<mat-card *ngFor="let person of personArray"  [routerLink]="['/',person.forename, person.name]">{{person.forename}} {{person.name}}</mat-card>
<form class="example-form">
  <mat-form-field >
      <input matInput placeholder="Vorname" [(ngModel)]="newPerson.forename" name="forename">
  </mat-form-field>
  <mat-form-field>
  <input matInput placeholder="Nachname" [(ngModel)]="newPerson.name" name="name">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Telefon" [(ngModel)]="newPerson.number" name="number">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="newPerson.email" name="email">
  </mat-form-field>
  <button mat-button (click)="createNewPerson()">Create New Person</button>
</form>
